{% load static %}

<html>
  <head>
    <title>Decision Maker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'decision/style/index.css' %}">
  </head>
  <body>
    <div class="info">
      <h1>Decision Maker: Voting for Best Choice</h1>
      <div>
        <a href="{% url 'decision:new' %}">Create</a>
        <a id="vote-btn">Vote</a>
        <a id="admin-btn">See My Activity</a>
      </div>
      <p>Decision Maker is a web app that helps groups of friends to vote on a preferred choice (using ranked voting)</p>
    </div>

    <div class="glass hidden"></div>
    <div class="background">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="token hidden">
      <h3>What's your activity token?</h3>
      <input type="text" id="activity-token" placeholder="Enter Token">
      <a href="" id="activity-token-link">Participate</a>
    </div>

    <div class="admin hidden">
      <form id="admin-token-link" method='GET'>
        <!-- {% csrf_token %} -->
        <h3>What's your admin token?</h3>
        <input type="text" id="admin-token" placeholder="Enter Token">
        <input type="email" name="email" placeholder="example@example.com">
        <button>Edit Activity</button>
      </form>
    </div>


    <script src="{% static 'decision/javascript/index.js'%}"></script>
  </body>
</html>