{% load static %}

<html>
  <head>
    <title>Decision Maker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'decision/style/index.css' %}">
  </head>
  <body>
    <div class="info">
      <h1>Decision Maker: Voting for Best Choice</h1>
      <div>
        <a href="{% url 'decision:new' %}">Create</a>
        <a id="vote-btn">Vote</a>
        <a id="admin-btn">See My Activity</a>
      </div>
      <p>Decision Maker is a web app that helps groups of friends to vote on a preferred choice (using ranked voting)</p>
    </div>

    <div class="glass hidden"></div>
    <div class="background">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="token hidden">
      <h3>What's your activity token?</h3>
      <input type="text" id="activity-token" placeholder="Enter Token">
      <a href="" id="activity-token-link">Participate</a>
    </div>

    <div class="admin hidden">
      <form id="admin-token-link" method='GET'>
        <!-- {% csrf_token %} -->
        <h3>What's your admin token?</h3>
        <input type="text" id="admin-token" placeholder="Enter Token">
        <input type="email" name="email" placeholder="example@example.com">
        <button>Edit Activity</button>
      </form>
    </div>


    <script>
      var token = document.getElementsByClassName('token')[0]
      var admin = document.getElementsByClassName('admin')[0]
      var voteInput = document.getElementById('activity-token')
      var adminInput = document.getElementById('admin-token')
      var activityTokenLink = document.getElementById('activity-token-link')
      var adminTokenLink = document.getElementById('admin-token-link')
      var voteBtn = document.getElementById('vote-btn');
      var adminBtn = document.getElementById('admin-btn')
      var glass = document.getElementsByClassName('glass')[0]

      voteInput.addEventListener('input', function(e){
        activityTokenLink.setAttribute('href', `/show/${e.target.value}`)
      })

      adminInput.addEventListener('input', function(e){
        adminTokenLink.setAttribute('action', `/admin/${e.target.value}`)
      })

      
      voteBtn.addEventListener('click', function(e){
        e.preventDefault();
        // show glass
        glass.classList.remove('hidden')
        console.log(token)
        token.classList.remove('hidden')
      })

      adminBtn.addEventListener('click', function(e){
        e.preventDefault();
        // show glass
        glass.classList.remove('hidden')
        console.log(token)
        admin.classList.remove('hidden')
      })


      
      glass.addEventListener('click', function(e){
        this.classList.add('hidden');
        token.classList.add('hidden')
        admin.classList.add('hidden')
      })

    </script>
  </body>
</html>