{% include './partials/_header.html' %}

{% load static %}
<form class="pure-form pure-form-aligned new" action="{% url 'decision:create' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="pure-control-group">
            <label>Activity</label>
            <input name="context" type="text" placeholder="What activity you want to create?" required>
        </div>

        <div class="pure-control-group">
            <label>Your Name</label>
            <input name="creator" type="text" placeholder="This name will be displayed" required>
        </div>

        <div class="pure-control-group">
            <label>Email</label>
            <input name="email" type="email" placeholder="What email you want to be notified" required>
        </div>

        <div class="pure-control-group">
            <label>Description</label>
            <textarea name="description" placeholder="Write a description about your activity"></textarea>
        </div>

        <div class="options">
            <div class="pure-control-group">
                <label>Option:</label>
                <input name="option" type="text" placeholder="Option">
            </div>
            <div class="pure-control-group">
                <label>Option:</label>
                <input name="option" type="text" placeholder="Option">
            </div>
            <div class="pure-control-group">
                <label>Option:</label>
                <input name="option" type="text" placeholder="Option">
            </div>
        </div>
        <div class="button-group">
            <button type="submit" class="pure-button pure-button-primary create">Create Activity</button>
            <button type="button" class="pure-button pure-button-primary" id="add-option">Add options</button>
        </div>
    </fieldset>
</form>

<script src="{% static 'decision/javascript/addOption.js'%}"></script>

{% include './partials/_footer.html' %}