.admin-title {
  margin-top: 80px;
  text-align: center;
}

main.admin-page {
  margin-top: 30px;
  width:100%;
  display: flex;
  justify-content: space-evenly;
}

.admin-page .edit{
  width: 40%;
}


.admin-page .admin-chart {
  width: 40%;
}

.admin-page .button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}


.admin-page .edit input, .admin-page .edit textarea {
  width: 60%;
}

.admin-page .button-group button {
  margin-left: 3px;
  border-radius: 5px;
}