.new {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 80%;
}

.new .button-group {
  display: flex;
  justify-content: center;
}

.new button.create {
  background: rgb(28, 184, 65);
  max-width: 200px;
  max-width: 80%;
  margin-right: 5px;
}

.new button#add-option {
  background: rgb(66, 184, 221); 
  max-width: 150px;
  max-width: 80%;
}

.new input, .new textarea {
  width: 540px;
  max-width: 70%;
}

